@import './partials/fonts';
@import './vendors/bs-x5/bootstrap';
@import './partials/base';



.main-navbar {
    padding: 1rem 0;
    background-color: $uni-color-2;

    .navbar-brand {
        img {
            width: 180px;
        }
    }
}


.navbar-nav {
    justify-content: center;
    flex: 1;

    li {
        a.nav-link {
            font-weight: 500;
            color: $uni-color-1
        }

        &:not(:last-child) {
            margin-right: 2rem;
        }
    }
}

.nav-right-links {
    li {
        &:not(:last-child) {
            margin-right: 1.5rem;
        }

        a {
            color: $uni-color-1;

            i {
                font-size: 1.2rem;
            }

        }
    }
}


.main-hero-section {
    margin-bottom: $section-space;

    .swiper-slide {
        figure {
            width: 100%;
            min-height: 100vh;
            position: relative;
            display: flex;
            align-items: center;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            figcaption {
                z-index: 2;
                width: 100%;

                .figcaption-inner {
                    color: $uni-color-2;

                    h2 {
                        font-size: calc(4rem + .2vw);
                        font-weight: normal;
                        margin-bottom: 2rem;
                    }

                    small {
                        display: block;
                        font-size: calc(1.2rem + .2vw);
                        font-weight: 300;
                        margin-bottom: 3rem;
                    }
                }
            }

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $uni-color-1;
                opacity: .5;
                z-index: 1;
            }
        }

    }

    .swiper-buttons {
        position: absolute;
        width: 150px;
        bottom: 10%;
        right: 0;
        transform: translate(0, 0);
        z-index: 40;
    }
}


.categories-section {
    margin-bottom: $section-space-large;

    .col-inner {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        figure {
            overflow: hidden;
            position: relative;
            width: 100%;
            height: 100%;
            aspect-ratio: 1/.6;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            figcaption {
                position: absolute;
                z-index: 50;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, -50%);
                margin-bottom: 1rem;

            }

            &::after {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                background-color: $uni-color-2;
                opacity: .4;
                width: 100%;
                height: 100%;
                transform: translateX(-100%);
                transition: ease-in-out .5s;
            }

            &:hover {
                &::after {
                    transform: translateX(0);
                }
            }


        }

        .center-category {
            height: 48%;
        }

    }

}

.sale-section {
    margin-bottom: $section-space-large;

    .sale-section-inner {
        .sale-section-content{
            padding: 3rem 0;
            color: $uni-color-1;
            small.sale{
                font-weight: 500;
                margin-bottom: 2rem;
            }
            h3{
                margin-bottom: 2rem;
            }
            small{
                margin-bottom: 2rem;
            }
        }
        .col-inner{
            height: 100%;
            display: flex;
            align-items: center;

            figure{
                width: 100%;
                height: 100%;
                aspect-ratio: 1/1.2;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
       

}

.best-seller{
    margin-bottom: $section-space-large;

    .title{
        margin-bottom: $section-space;
    }
    

    .swiper-slide{
        figure{
            width: 100%;
            aspect-ratio: 1/1.4;
            position: relative;
            overflow: hidden;


            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            figcaption{
                .top-icons{
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: translate(0, 0);
                    margin: 1rem 0;
                    transition: ease-in-out .5s;
                    transform: translateX(-100%);
                    z-index: 2;

                    a{
                        display: block;

                        &:not(:last-child){
                            margin-bottom: 1rem;
                        }
                    }
                }
                .quick-shop{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    transform: translate(-50%, 0);
                    margin-bottom: 1rem;
                    transform: translate(-100%);
                    z-index: 2;

                }
                .sale-off{
                    position: absolute;
                    top: 0;
                    right: 0;
                    transform: translate(0, 0);
                    margin: 1rem;
                    z-index: 2;

                }

            }

            &::after{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $uni-color-2;
                opacity: .5;
                transform: translateX(-100%);
                transition: ease-in-out .5s;
                z-index: 1;
            }
 

            
        }
        .info{
            margin-top: 1rem;

            small{
                font-size: calc(.8rem + .2vw);
                color: $uni-color-1;
                font-weight: 500;
            }
        }
        &:hover{
            figure{
                &::after{
                    transform: translateX(0);
                }
                figcaption{
                    .top-icons{
                        margin: 1rem;
                        transform: translateX(0);
                    }
                    .quick-shop{
                        margin-left: 1rem;
                        transform: translate(0);
    
                    }
                }
            }
            
        }
    }

}


.accessories-galery{
    margin-bottom: $section-space-large;
    .swiper-slide{
        a{
            color: $uni-color-1;
        }
        figure{
            width: 100%;
            aspect-ratio: 1/.7;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            figcaption{
                margin-top: 2rem;
                text-align: center;

                h4{
                    margin-bottom: .5rem;
                }

                small{
                    display: block;
                    margin-bottom: 2rem;
                }
            }

        }
    }
}

.our-store{
    margin-bottom: $section-space-large;
    .our-store-inner{
        .title{
            margin-bottom: $section-space-large;
            text-align: center;
        }
        .store-tabs{
            margin-bottom: $section-space;
            ul{
                display: flex;
                justify-content: space-between;
                    .nav-link{
                        position: relative;
                        color: $uni-color-1;
                        &:after{
                            position: absolute;
                            content: '';
                            width: 100%;
                            height: 2px;
                            bottom: 0;
                            left: 0;
                            background-color: $uni-color-1;
                            opacity: .2;

                        }
                    }
                }
            }
        }
    }














@import './partials/mediaqueries';