@import './partials/fonts';
@import './vendors/bs-x5/bootstrap';
@import './partials/base';

// Home Page

.main-navbar {
    padding: 1rem 0;
    background-color: $uni-color-2;

   
}

.site-logo{
    width: 180px;
}

.navbar-nav {
    justify-content: center;
    flex: 1;

    li {
        .search-box{
            margin-right: 0;
        }
        a.nav-link {
            font-weight: 500;
            color: $uni-color-1
        }

        &:not(:last-child) {
            margin-right: 2rem;
        }
    }
}

.nav-right-links {
    li {
        &:not(:last-child) {
            margin-right: 1.5rem;
        }

        a {
            color: $uni-color-1;

            i {
                font-size: 1.2rem;
            }
        }
        .search-box{
            width: fit-content;
            height: fit-content;
            position: relative;
          }
          .input-search{
            height: 50px;
            width: 50px;
            border-style: none;
            padding: 10px;
            font-size: 18px;
            letter-spacing: 2px;
            outline: none;
            border-radius: 25px;
            transition: all .5s ease-in-out;
            padding-right: 40px;
            color:$uni-color-1;
          }
          .input-search::placeholder{
            color: $uni-color-1;
            font-size: 18px;
            letter-spacing: 2px;
            font-weight: 100;
          }
          .btn-search{
            width: 50px;
            height: 50px;
            border-style: none;
            font-size: 20px;
            font-weight: bold;
            outline: none;
            cursor: pointer;
            border-radius: 50%;
            position: absolute;
            right: 0px;
            color:$uni-color-1 ;
            background-color:transparent;
            pointer-events: painted;  
          }
          .btn-search:focus ~ .input-search{
            width: 300px;
            border-radius: 0px;
            background-color: transparent;
            border-bottom:1px solid $uni-color-1;
            transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
          }
          .input-search:focus{
            width: 300px;
            border-radius: 0px;
            background-color: transparent;
            border-bottom:1px solid $uni-color-1;
            transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
          }
    }
}


.main-hero-section {
    margin-bottom: $section-space;

    .swiper-slide {
        figure {
            width: 100%;
            min-height: 100vh;
            position: relative;
            display: flex;
            align-items: center;
            background-color: $loading-color;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            figcaption {
                z-index: 2;
                width: 100%;
                transform: translateY(100%);
                transition: ease-in-out .8s;

                .figcaption-inner {
                    color: $uni-color-2;



                    small {
                        display: block;
                        font-size: calc(1.2rem + .2vw);
                        font-weight: 300;
                        margin-bottom: 3rem;
                    }
                }


            }

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $uni-color-1;
                opacity: .5;
                z-index: 1;
            }
        }

    }
    .swiper-slide-active{
        figure{
            figcaption{
                transform: translateY(0);
            }
        }

    }
    .swiper-buttons-container{
        position: relative;
        .swiper-buttons {
            margin-bottom: 5rem;
            position: absolute;
            width: 120px;
            bottom: 10%;
            right: 0;
            z-index: 40;
            transform: translate(0 , -50%);
    
        }
    }
    .swiper-pagination{
        position: absolute; 
        text-align: left; 
        right: 0;
    }


}


.categories-section {
    margin-bottom: $section-space-large;

    .col-inner {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        figure {
            overflow: hidden;
            position: relative;
            background-color: $loading-color;
            width: 100%;
            height: 100%;
            aspect-ratio: 1/.6;

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            figcaption {
                position: absolute;
                z-index: 50;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, -50%);
                margin-bottom: 1rem;

            }

            &::after {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                background-color: $uni-color-2;
                opacity: .4;
                width: 100%;
                height: 100%;
                transform: translateX(-100%);
                transition: ease-in-out .5s;
            }

            &:hover {
                &::after {
                    transform: translateX(0);
                }
            }


        }

        .center-category {
            height: 48%;
        }

    }

}

.sale-section {
    margin-bottom: $section-space-large;

    .sale-section-inner {
        .sale-section-content {
            padding: 3rem 0;
            color: $uni-color-1;

            small.sale {
                font-weight: 500;
                margin-bottom: 2rem;
            }

            h3 {
                margin-bottom: 2rem;
            }

            small {
                margin-bottom: 2rem;
            }
        }

        .col-inner {
            height: 100%;
            display: flex;
            align-items: center;

            figure {
                width: 100%;
                height: 100%;
                aspect-ratio: 1/1.2;
                position: relative;
                background-color: $loading-color;

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }


}

.best-seller {
    margin-bottom: $section-space-large;

    .title {
        margin-bottom: $section-space;
    }
}

//     .swiper-slide {
//         figure {
//             width: 100%;
//             aspect-ratio: 1/1.4;
//             position: relative;
//             overflow: hidden;


//             img {
//                 width: 100%;
//                 height: 100%;
//                 object-fit: cover;
//             }

//             figcaption {
//                 .top-icons {
//                     position: absolute;
//                     top: 0;
//                     left: 0;
//                     transform: translate(0, 0);
//                     margin: 1rem 0;
//                     transition: ease-in-out .5s;
//                     transform: translateX(-100%);
//                     z-index: 2;

//                     a {
//                         display: block;

//                         &:not(:last-child) {
//                             margin-bottom: 1rem;
//                         }
//                     }
//                 }

//                 .quick-shop {
//                     position: absolute;
//                     bottom: 0;
//                     left: 0;
//                     transform: translate(-50%, 0);
//                     margin-bottom: 1rem;
//                     transform: translate(-100%);
//                     z-index: 2;

//                 }

//                 .sale-off {
//                     position: absolute;
//                     top: 0;
//                     right: 0;
//                     transform: translate(0, 0);
//                     margin: 1rem;
//                     z-index: 2;

//                 }

//             }

//             &::after {
//                 content: '';
//                 position: absolute;
//                 top: 0;
//                 left: 0;
//                 width: 100%;
//                 height: 100%;
//                 background-color: $uni-color-2;
//                 opacity: .5;
//                 transform: translateX(-100%);
//                 transition: ease-in-out .5s;
//                 z-index: 1;
//             }



//         }

//         .info {
//             margin-top: 1rem;

//             small {
//                 font-size: calc(.8rem + .2vw);
//                 color: $uni-color-1;
//                 font-weight: 500;
//             }
//         }

//         &:hover {
//             figure {
//                 &::after {
//                     transform: translateX(0);
//                 }

//                 figcaption {
//                     .top-icons {
//                         margin: 1rem;
//                         transform: translateX(0);
//                     }

//                     .quick-shop {
//                         margin-left: 1rem;
//                         transform: translate(0);

//                     }
//                 }
//             }

//         }
//     }

// }


.accessories-galery {
    margin-bottom: $section-space;

    .swiper-slide {
        a {
            color: $uni-color-1;
        }

        figure {
            width: 100%;
            aspect-ratio: 1/.7;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            figcaption {
                margin-top: 2rem;
                text-align: center;

                h4 {
                    margin-bottom: .5rem;
                }

                small {
                    display: block;
                    margin-bottom: 2rem;
                }
                a{
                    display: inline-block;
                    position: relative;
                    padding-bottom: .5rem;

                    &:after{
                        position: absolute;
                        content: '';
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        background-color: $uni-color-1;
                    }
                }
            }

        }
    }
}

.our-store {
    margin-top: $section-space-large;
    margin-bottom: $section-space-large;

    .our-store-inner {
        .title {
            margin-bottom: $section-space-large;
            text-align: center;
        }
    }
}

.store-tabs {
    margin-bottom: $section-space;

}

.store-tabs-inner{
    .store-inner{
        display: flex;
        min-height: 100%;
        .content-wrapper{
            width: 50%;
            min-height: 100%;
            background-color: $tertiary-color;
            display: flex;
            align-items: center;
            justify-content: center;
            .content-inner{
                padding: 5rem 2rem;
                h4{
                    margin-bottom: 3rem;
                }
                small{
                    display: block;
                }
                span.location{
                    display: block;
                    margin-bottom: 2rem;
                }
            }
        }
        .store-image{
            width: 50%;

            figure{
                width: 100%;
                height: 100%;
                aspect-ratio: 1/.8;
                position: relative;
                background-color: $loading-color;
                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}


// footer

.footer-inner{
    .site-logo{
        margin-bottom: 2rem;
    }
    .col-title{
        display: inline-block;
        margin-bottom: 1rem;
        font-size: calc(1rem + .2vw);
        font-weight: 500;
    }
    ul{
        li{
            a{
                color: $uni-color-1;
                transition: ease-in-out .5s;

                &:hover{
                    color: $secondary-color;
                }
            }
            &:not(:last-child){
                margin-bottom: 1rem;
            }
        }
    }
    ul.footer-social-media-icons{
        display: flex;
        li{
            a{
                i{
                    border-radius: 50%;
                    border: 1px solid $uni-color-1;
                    background-color: transparent;
                    padding: .5rem;
                    transition: ease-in-out .5s;
                }     
                &:hover{
                    i{
                        color: $secondary-color;
                        border: 1px solid $secondary-color;
                    }

                }     
            }

            &:not(:last-child){
                margin-right: 1rem;

            }
        }
    }
    .news-letter-input{
        position: relative;
        input{
            padding: 1rem;
            padding-right: 9rem;
            &:active{
                border: 1px solid $uni-color-1!important;
            }
        }
        .news-letter-subscribe{
            display: block;
            position: absolute; 
            margin: .6rem 0;
            top: 0;
            right: 0;
            margin-right: 1rem;
            transform: translate(0, 0);
        }
    }
}


// Product Detail Page


.detail-main-section{
    margin-bottom: $section-space-large!important;

    .gallery-swiper{
        .gallery {
            width: 100%;
          }
          
          .gallery-slider {
            width: 100%;
            height: auto;
            margin: 0 0 10px 0;
          }
          
          .gallery-slider .swiper-slide {
            width: 100%;
            height: 500px;
                    
          }
          
          .gallery-slider .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            margin: 0 auto;
            object-fit: cover;

          }
            
          .gallery-thumbs {
            margin-top: 32px;
            width: 100%;
            padding: 0;
            overflow: hidden;
                
          }
          
          .gallery-thumbs .swiper-slide {
            width: 200px;
            height: 100px;
            text-align: center;
            overflow: hidden;
            opacity: 1;
          }
                    
          .gallery-thumbs .swiper-slide-active {
            opacity: 1;

          }
                    
          .gallery-thumbs .swiper-slide img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          
            
    }
}

.detail-main-section{
    .product-details{
        .col-inner{
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
        }
        .quantity{
            margin: 0 1rem;
        }
        .theme-button-black{
            padding: .7rem;
            color: $uni-color-2;
            border-radius: 3px;
            font-weight: 500;
        }
        .buy-now{
            display: block;
            background-color: $theme-color-red;
        }
        .shipping-detail{
            margin-top: 2rem;
            padding: 1.5rem .5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            height: 100%;
            i{
                font-size: calc(2rem + .2vw);
            }
            b{
                font-weight: 500;
            }
        }


    }
}

.description-information-tabs{
    margin-bottom: $section-space-large;
    .description-information-tabs-inner{
        padding: 1rem;
    }
    .tab-content-inner{
        display: flex;
        padding: 1rem 0;
        flex-direction: column;
        .col-inner{
            padding-bottom: 2rem!important;
            ul{
                margin-top: 1rem;
                li{
                    display: flex;
                    flex-direction: column;
                }
         
           }
        }
        .review-inner{
            a{
                font-size: calc(.7rem + .2vw);
            }
        }


    }
}

.related-products {
    margin-bottom: $section-space-large;

    .title {
        margin-bottom: $section-space;
    }
}








// Shop Page





// Theme Hero Section

.theme-hero-section{
    margin-bottom: $section-space;
    figure{
        position: relative;
        width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;

        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 1;
        }
        figcaption{
            z-index: 2;
        }
    }
}


//
.theme-filters-container{
    margin-bottom: $section-space;

    .theme-filter-button{
        padding: .5rem;
        color: $uni-color-1;
        transition: ease-in-out .3s;
        font-weight: 500;
        i{
            margin-right: 1rem;
        }
        &:hover{
            border: 1px solid $uni-color-1;
        }
    }
}

// theme product cards

.theme-product-cards{
    .product-cards{
        margin-bottom: 3rem;

    }
    .pagination{
        li{
            a{
                color: $uni-color-1;


            }
        }
    }
}




// Filters

section.filters{
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 300px;
    background-color: $uni-color-2;
    overflow: hidden;
    overflow-y: auto;
    color: $uni-color-1;
    transition: ease-in-out .5s;
    // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 100;
    transform: translateX(-100%);
    .filter-top{
        background-color: $tertiary-color;
        padding:  1rem 2rem;

        ul{
            li{
                .filter-close{
                        margin-right: 1rem;
                }
            }
        }

    }
    .filter-inner{
        padding:  1rem 2rem;
        .product-categories{
            ul{
                li{
                    .form-check-input:checked {
                        background-color: $theme-color-red;
                        border-color: $theme-color-red;
                    }
                    &:not(:last-child){
                        margin-bottom: 1rem;
                    }
                }
            }
            &:not(:last-child){
                margin-bottom: 2rem;
            }
        }
    }
    &.open{
        transform: translateX(0); 
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    &.closed {
        transform: translateX(-100%); 
        box-shadow: none;
    }



}









  


@import './partials/mediaqueries';