$uni-color-1: #000000;
$uni-color-2: #ffffff;



$section-space: 2rem;
$section-space-large: 6rem;



body{
    overflow: hidden;
    overflow-y: auto;
    font-family: 'ATC Arquette';
}


h1, h2, h3, h4, p, ul, li, figure{
    margin: 0;
    padding: 0;
}


ul{
    list-style: none;
}

a{
    text-decoration: none;
}



.d_flex{
    display: flex;
}

.space-bet{
    display: flex;
    justify-content: space-between;
}

.align-center{
    display: flex;
    align-items: center;
}

.small-font {
    display: block;
    font-size: calc(1rem + .2vw);
    font-weight: 300;
    margin-bottom: 3rem;
}

.main-heading-font{
    font-size: calc(3rem + .2vw);
    font-weight: normal;
}

.theme-button{
    background-color: $uni-color-2;
    color: $uni-color-1;
    padding: 1rem 1.5rem;
    transition: ease-in-out .5s;
    font-size: calc(1rem + .2vw);
    font-weight: normal;


    &:hover{
        background-color: $uni-color-1;
        color: $uni-color-2;
    }
}

.theme-button-black{
    position: relative;
    background-color: $uni-color-1;
    color: $uni-color-2;
    padding: 1rem 1.5rem;
    font-size: calc(1rem + .2vw);
    font-weight: normal;
    overflow: hidden;

    &:after{
        content:'';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        transition: ease-in-out .5s;
        background-color: $uni-color-2;
        opacity: .5;
        transform: translateX(100%);
    }


    &:hover{

        &:after{
            transform: translateX(0);
        }

    }
}

.theme-button-link{
    background-color: $uni-color-2;
    color: $uni-color-1;
    padding: 1rem 1.5rem;
    display: inline-flex;
    align-items: center;
    transition: ease-in-out .5s;
    font-size: calc(1rem + .2vw);
    font-weight: normal;

    &:hover{
        background-color: $uni-color-1;
        color: $uni-color-2;
    }
}

.link-arrow{
    margin-left: 1rem;
    font-size: .7rem;
}

.swiper-nav-black{
    color: $uni-color-2;



}


.swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 10px));
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 10px));
    background: $uni-color-2;
    opacity: var(--swiper-pagination-bullet-opacity, .5);

}

.swiper-pagination-bullet-active {
    background: $uni-color-2;
    opacity: var(--swiper-pagination-bullet-opacity, 1);

}



.swiper-button-next:after{
    margin-right: 3rem;
    content: "\e907";
    font-family: 'icomoon';
    font-size: 1.2rem;
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
    background-color:$uni-color-2;
    padding: .3rem .5rem;
    background: $uni-color-2;
    color: $uni-color-1;

}

.swiper-button-prev:after{
    margin-left: 3rem;
    content: "\e907";
    rotate: 180deg;
    font-family: 'icomoon';
    font-size: 1.2rem;
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
    background-color:$uni-color-2;
    color: $uni-color-1;
    padding: .3rem .5rem;
}