$uni-color-1: #000000;
$uni-color-2: #ffffff;


$secondary-color: #fc5732;
$tertiary-color: #fcfbf9;
$loading-color: #dcdcdc;





$section-space: 2rem;
$section-space-large: 6rem;


body{
    overflow: hidden;
    overflow-y: auto;
    font-family: 'ATC Arquette';
}


h1, h2, h3, h4, p, ul, li, figure{
    margin: 0;
    padding: 0;
}


ul{
    list-style: none;
}

a{
    text-decoration: none;
}



.d_flex{
    display: flex;
}

.space-bet{
    display: flex;
    justify-content: space-between;
}

.align-center{
    display: flex;
    align-items: center;
}



.small-font {
    display: block;
    font-size: calc(1rem + .2vw);
    font-weight: 300;
    margin-bottom: 2rem!important;
}

.main-heading-font{
    font-size: calc(3rem + .2vw);
    font-weight: normal;
}

.main-heading-font-medium{
    font-size: calc(2rem + .2vw);
    font-weight: normal;
    color: $uni-color-1;
}

.theme-button{
    background-color: $uni-color-2;
    color: $uni-color-1;
    padding: 1rem 1.5rem;
    transition: ease-in-out .5s;
    font-size: calc(1rem + .2vw);
    font-weight: normal;


    &:hover{
        background-color: $uni-color-1;
        color: $uni-color-2;
    }
}

.theme-button-black{
    position: relative;
    background-color: $uni-color-1;
    color: $uni-color-2;
    padding: 1rem 1.5rem;
    font-size: calc(1rem + .2vw);
    font-weight: normal;
    overflow: hidden;

    &:after{
        content:'';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        transition: ease-in-out .5s;
        background-color: $uni-color-2;
        opacity: .5;
        transform: translateX(100%);
    }


    &:hover{

        &:after{
            transform: translateX(0);
        }

    }
}

.theme-button-link{
    background-color: $uni-color-2;
    color: $uni-color-1;
    padding: 1rem 1.5rem;
    display: inline-flex;
    align-items: center;
    transition: ease-in-out .5s;
    font-size: calc(1rem + .2vw);
    font-weight: normal;

    &:hover{
        background-color: $uni-color-1;
        color: $uni-color-2;
    }
}

.links-hover{
    transition: ease-in-out .5s;
    &:hover{
        color: $secondary-color;
    }
}


.link-arrow{
    margin-left: 1rem;
    font-size: .7rem;
}

.swiper-nav-black{
    color: $uni-color-2;



}


.swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 10px));
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 10px));
    background: $uni-color-2;
    opacity: var(--swiper-pagination-bullet-opacity, .5);

}

.swiper-pagination-bullet-active {
    background: $uni-color-2;
    opacity: var(--swiper-pagination-bullet-opacity, 1);

}



.swiper-buttons{
    .swiper-button-next{
        &::after{
            content: "\e907";
            font-family: 'icomoon';
            font-size: 1.6rem;
            text-transform: none !important;
            letter-spacing: 0;
            font-variant: initial;
            line-height: 1;
            background-color: $uni-color-2;
            color: $uni-color-1;
            padding: .3rem .5rem;
            transition: ease-in-out .5s;
        }

        &:hover{
            &::after{
                background-color: $secondary-color;
                color: $uni-color-2;
            }
        }


    
    }
    
    .swiper-button-prev{

        &::after{
        content: "\e907";
        rotate: 180deg;
        font-family: 'icomoon';
        font-size: 1.6rem;
        text-transform: none !important;
        letter-spacing: 0;
        font-variant: initial;
        line-height: 1;
        background-color:$uni-color-2;
        color: $uni-color-1;
        padding: .3rem .5rem;
        transition: ease-in-out .5s;
        }
        

        &:hover{

            &::after{
                background-color: $secondary-color;
                color: $uni-color-2;
            }
        }
    }
}


// swiper-default buttons -- start
.swiper-default{
    .swiper-button-next{

        &::after{
            content: "\e90c";
            font-family: 'icomoon';
            font-size: 1rem;
            text-transform: none !important;
            letter-spacing: 0;
            font-variant: initial;
            line-height: 1;
            background-color:$uni-color-2;
            padding: .8rem;
            color: $uni-color-1;
            border-radius: 50%;
            transition: ease-in-out .5s;
        }

        &:hover{

            &::after{
                background-color: $uni-color-1;
                color: $uni-color-2;
            }
        }
    
    }
    
    .swiper-button-prev{
        &::after{
            content: "\e90c";
            rotate: 180deg;
            font-family: 'icomoon';
            font-size: 1rem;
            text-transform: none !important;
            letter-spacing: 0;
            font-variant: initial;
            line-height: 1;
            background-color:$uni-color-2;
            color: $uni-color-1;
            padding: .8rem;
            border-radius: 50%;
            transition: ease-in-out .5s;
        }
        &:hover{

            &::after{
                background-color: $uni-color-1;
                color: $uni-color-2;
            }
        }

    }
}
// swiper-default buttons -- end


.product-carousel-position-icons{
    background-color: $uni-color-2;
    color: $uni-color-1;
    padding: .5rem .8rem;
    transition: ease-in-out .5s;


    &:hover{
        background-color: $uni-color-1;
        color: $uni-color-2;
    }
}

.product-carousel-shop-button{
    background-color: $uni-color-2;
    color: $uni-color-1;
    padding: .5rem .8rem;
    display: inline-flex;
    align-items: center;
    transition: ease-in-out .5s;
    font-size: calc(.7rem + .2vw);
    font-weight: 500;

    i{
        margin-right: .5rem;
    }

    &:hover{
        background-color: $uni-color-1;
        color: $uni-color-2;
    }
}


.sale-off{
    padding: .5rem .8rem;
    border-radius: 2rem;
    background-color: $secondary-color;
    color: $uni-color-2;
}

.icon-rating{
    font-size: .7rem;
    color: $uni-color-1;
}

.product-carousel-anchor{
    display: block;
    color: $uni-color-1;
    font-size: calc(1rem + .2vw);
    transition: ease-in-out .5s;


    &:hover{
        color: $secondary-color;
    }
}

.store-tabs{
    .nav-pills {
        .nav-item{
            .nav-link.active {
                color: $uni-color-1!important;
                background-color: transparent!important;   
                &::after{
                    opacity: 1!important;

            }    
      
            }
            
        }
        
    }

}


.subscribe-button{
    background-color: $uni-color-1;
    color: $uni-color-2;
    padding: .5rem 1rem;
    display: inline-flex;
    align-items: center;
    transition: ease-in-out .5s;
    font-weight: normal;
    border: 0;
    

    &:hover{
        background-color: $uni-color-2;
        color: $uni-color-1;
    }
}


.border-text{
    padding: .3rem .5rem;
    border: 1px solid $uni-color-1;
    color: $uni-color-1;
    display: inline-block;
}


