@font-face {
    font-family: 'ATC Arquette';
    src: url('ATCArquette-Medium.eot');
    src: local('ATC Arquette Medium'), local('ATCArquette-Medium'),
     
        url('../font/ATCArquette-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;

}

@font-face {
  font-family: 'ATC Arquette';
  src: url('ATCArquette-Regular.eot');
  src: local('ATC Arquette Regular'), local('ATCArquette-Regular'),
      url('../font/ATCArquette-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'ATC Arquette';
  src: url('ATCArquette-Light.eot');
  src: local('ATC Arquette Light'), local('ATCArquette-Light'),
      url('../font/ATCArquette-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}



@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?82m9lj');
  src:  url('fonts/icomoon.eot?82m9lj#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?82m9lj') format('truetype'),
    url('fonts/icomoon.woff?82m9lj') format('woff'),
    url('fonts/icomoon.svg?82m9lj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cart:before {
  content: "\e900";
}
.icon-compare:before {
  content: "\e901";
}
.icon-extra-long-arrow:before {
  content: "\e902";
}
.icon-facebook:before {
  content: "\e903";
}
.icon-favourite:before {
  content: "\e904";
}
.icon-instagram:before {
  content: "\e905";
}
.icon-login:before {
  content: "\e906";
}
.icon-long-arrow:before {
  content: "\e907";
}
.icon-pinterest:before {
  content: "\e908";
}
.icon-quick-view:before {
  content: "\e909";
}
.icon-rating:before {
  content: "\e90a";
}
.icon-search:before {
  content: "\e90b";
}
.icon-small-arrow:before {
  content: "\e90c";
}
.icon-theme-link:before {
  content: "\e90d";
}
.icon-tiktok:before {
  content: "\e90e";
}
.icon-twitter:before {
  content: "\e90f";
}
